{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django-Practise</title>
    <link rel="stylesheet" href="{% static 'practiseapp/style.css' %}">
</head>
<body>
    <div class="main">
        <ul>
            {% for data in dataset %}
            <li>{{ data.title }}</li>
            <li>{{ data.description }}</li>
            <hr>
            {% endfor %}
        </ul>
    </div>
</body>
</html>